body {
    background-image: linear-gradient(to bottom right,rgb(139, 210, 218),rgb(204, 102, 153));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.GameContainer{
    height: 300px;
    width: 300px;
    border-style: solid;
    border-color: black;
    background-color: darkgrey;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.Tile {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 30px;
    border-radius: 10px;
    border-style: solid;
}

.StepCount{
    margin: 10px;
    font-size: 40px;
}